<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Votació</h1>
        
        <div id="alert-container"></div>
        <div id="poll-info"></div>
        <div id="vote-form-container"></div>
    </div>
    
    <script>
        const votacioCode = "{{ code }}";
    </script>
    <script src="{{ url_for('static', filename='js/vote.js') }}"></script>
</body>
</html>

